<%- attachment = attachable.attachment -%>
<div id="uploadContainer" class="uploadContainer">
  
  <%- if attachment -%>
    <div class="progressContainer blue flash">
      <%= link_to "", attachment_path_of(attachable), :method=>:delete, :remote=>true, :class=>"progressCancel" -%>
      <div class="progressName">
        <%= link_to attachment.file.original_filename, attachment.file.url, :target => "_blank" -%>
      </div>
    </div>
    
  <%- else -%>
  
    <div style="display: inline; border: solid 1px #7FAAFF; background-color: #C5D9FF; padding: 2px;">
      <%= tag :button, :id => "upload-button" -%>
    </div>
    
    <div id="fsUploadProgress" class="flash"></div>
  <%- end -%>
</div>

<% content_for :head do %>
  <%= use_swfupload %>
  <%= swfupload("upload-button", attachable) if attachment.blank? -%>
<% end %>